<%- contentFor('body') %>
<%- include('../public/styleDelete') %>
<div>
    <main align="center">
        <h1>Exclusão de Estudante Concluída</h1>
        <button class="home"><a href="/">Voltar para Home</a></button>
    </main>
</div>