<%- contentFor('body') %>
<%- include('../public/styleError') %>
<div>
    <main align="center">
        <h1>Ocorreu um erro</h1>
        <p>
            <%= errorMessage %>
        </p>
        <button class="home"><a href="/">Voltar para Home</a></button>
    </main>
</div>